name: Build EXAMPLE Plugin

on: workflow_dispatch # Only run when manually triggered

jobs:
  build-EXAMPLE-macos:
    runs-on: macos-latest
    steps:
      # ============ SETUP ============
      - uses: actions/checkout@v3
        with:
          submodules: recursive # This handles the git submodule update command

      - name: Install Ninja
        run: brew install ninja

      # ============ BUILD ============
      - name: Build Plugin
        run: |
          bash build.sh -m Release

      - name: Cache Build VST3
        uses: actions/upload-artifact@v4
        with:
          name: build-macos-vst3
          path: ./build/Release/EXAMPLE_artefacts/Release/VST3

      - name: Cache Build AU
        uses: actions/upload-artifact@v4
        with:
          name: build-macos-au
          path: ./build/Release/EXAMPLE_artefacts/Release/AU

  build-EXAMPLE-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3
        with:
            submodules: recursive

      - name: Install Ninja
        run: choco install ninja -y

      - name: Build Plugin
        run: |
            bash build.sh -m Release

      - name: Cache Build VST3
        uses: actions/upload-artifact@v4
        with:
            name: build-windows-vst3
            path: ./build/Release/EXAMPLE_artefacts/Release/VST3